.App {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 40px;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
  cursor: pointer;
  padding-top: 15px;
}

.navbar li:hover,
.navbar li a:hover{
  color: #0886cf;
  border-bottom: 2px solid #0886cf;
}

.posts {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.posts p {
  line-height: 1.8;
}

.add {
  border: 2px solid #000000;
  padding: 50px 20px 20px 20px;
  border-radius: 2px;
}

.add input,
.add textarea {
  margin-top: 10px;
  padding: 5px;
}

.title,
.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.singlePost {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 30px 20px;
}

.singlePost h3 {
  text-align: center;
  font-size: 25px;
}

.singlePost p {
  line-height: 2;
  font-size: 18px;
  padding-top: 30px;
}

.buttons {
  text-align: end;
}

.buttons button {
  margin-left: 10px;
}

.about,
.contacts {
  border: 2px solid #000000;
  border-radius: 5px;
  line-height: 2;
  padding: 20px;
}

.main {
  text-align: center;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.main a {
  text-decoration: none;
  color: #000000;
}

.main a:hover {
  color: #0886cf;
}

